@import "theme.css";

* {
  font-family:
    Iosevka Nerd Font,
    sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0);
  margin: 2px 8px;
}

#tray,
#custom-btcusd,
#custom-ethusdt,
#custom-usdrub,
#custom-eurrub,
#custom-dela,
#custom-debug,
#custom-screenrecorder,
#custom-audio-toggle,
box.horizontal.modules-right {
  margin-bottom: 4px;
  background-color: @component-background;
  border-radius: 3px;
  border: 0px solid @component-border;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 2px 6px;
  color: @component-text;
}

#custom-audio-inbox,
#custom-audio-collection {
  color: @component-text;
  padding: 2px 6px;
  border-radius: 3px;
  background-color: @component-background;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
  margin-right: 4px;
}

#custom-screenrecorder {
  padding: 0 15px 0 10px;
}

#custom-debug {
  min-width: 120px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#language,
#network,
#pulseaudio,
#wireplumber,
#custom-root-free-space,
#custom-swap,
#home-free-space {
  padding: 0 4px;
  color: @component-text;
}

tooltip {
  border-radius: 1px;
  border: 2px solid @component-border;
  background-color: @tooltip-background;
  color: @component-text-muted;
  font-size: 16px;
}
