{
  "layer": "top", // Waybar at top layer
  "position": "bottom",
  "height": 32,
  "spacing": 8, // Gaps between modules (4px)
  "margin": "0 10px",
  "modules-left": [
    "custom/screenrecorder",
    "custom/btcusd",
    "custom/ethusdt",
    "custom/usdrub",
    "custom/eurrub",
    "custom/dela"
  ],
  "modules-center": [],
  "modules-right": [
    "custom/root-free-space",
    "custom/home-free-space",
    "cpu",
    "memory",
    // "custom/gpu-utilization",
    "temperature",
    "custom/power-usage",
    "pulseaudio",
    "network",
    "backlight",
    "keyboard-state",
    "battery",
    "battery#bat2",
    "hyprland/language",
    "clock"
  ],

  "custom/btcusd": {
    "tooltip": false,
    "format": " {}",
    "exec": "~/.local/bin/currency BTCUSD",
    "interval": 300,
  },
  "custom/usdrub": {
    "tooltip": false,
    "format": " {}",
    "exec": "~/.local/bin/currency USDRUB",
    "interval": 300,
  },
  "custom/eurrub": {
    "tooltip": false,
    "format": " {}",
    "exec": "~/.local/bin/currency EURRUB",
    "interval": 300,
  },
  "custom/ethusdt": {
    "tooltip": false,
    "format": " {}",
    "exec": "~/.local/bin/currency ETHUSDT",
    "interval": 300,
  },
  "custom/dela": {
    "tooltip": false,
    "format": "  {}",
    "interval": 60,
    "exec": "~/.local/bin/dela list --today --format='$title' '/home/anton/Dev/@A/notes/*.md' | shuf -n 1",
    "on-click": "~/.local/bin/dela list --today --format='$title' '/home/anton/Dev/@A/notes/*.md' | shuf -n 1",
  },


  "pulseaudio": {
    "format": "{icon} {volume}%  {format_source}",
    "format-bluetooth": "{volume}% {icon}  {format_source}",
    "format-bluetooth-muted": "󰝟 {icon}  {format_source}",
    "format-muted": "󰝟  {format_source}",
    "format-source": "  {volume}%",
    "format-source-muted": "",
    "format-icons": {
      "headphone": " ",
      "hands-free": " ",
      "headset": " ",
      "phone": " ",
      "portable": " ",
      "car": " ",
      "default": ["", "", " "]
    },
    "on-click": "pavucontrol"
  },


    "hyprland/language": {
        "format": "{}",
        "format-en": "EN",
        "format-ru": "RU"
    },

    "clock": {
        "tooltip-format": "<tt>{calendar}</tt>",
        "format-alt": "{:%Y-%m-%d}"
    },
    "cpu": {
        "format": "CPU:{usage}%",
        "tooltip": false
    },
    "memory": {
        "format": "RAM:{}%"
    },
    "temperature": {
        // "thermal-zone": 2,
        // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        "format": "{icon} {temperatureC}°C",
        "format-icons": ["", "", ""]
    },
    "backlight": {
        "format": "{icon} {percent}%",
        "format-icons": ["", "", "", "", "", "", "", "", ""]
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{icon}  {capacity}%",
        "format-charging": "  {capacity}%",
        "format-plugged": "  {capacity}%",
        "format-alt": "{time} {icon}",
        "format-icons": ["", "", "", "", ""],
        "interval": 30
    },
    "network": {
        "max-length": 15,
        "format-wifi": "  {essid}",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "tooltip-format": "{ifname} via {gwaddr} ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    "custom/root-free-space": {
      "tooltip": false,
      "format": "/:{}GB",
      "interval": 300,
      "exec": "sudo btrfs fi show / | awk '/size/{print $4-$6}' | cut -d. -f1"
    },
    "custom/home-free-space": {
      "tooltip": false,
      "format": "/home:{}GB",
      "interval": 300,
      "exec": "df /home --block-size=1G | awk '/home/{print $2-$3}'"
    },
    "custom/debug": {
      "exec": "cat ~/.emoticons | shuf -n1",
      "tooltip": false,
      "format": "{}",
      "interval": 1,
    },
    "custom/power-usage": {
      "tooltip": false,
      "format": "󱐋 {}W",
      "interval": 10,
      "exec": "awk '{print $1*10^-6}' /sys/class/power_supply/BAT0/power_now"
    },
    "custom/gpu-utilization": {
      "tooltip": false,
      "format": "GPU:{}%",
      "interval": 30,
      "exec": "nvidia-smi --query-gpu utilization.gpu --format=csv,noheader | sed 's/ %//g'"
    },
    "custom/screenrecorder": {
        "exec": "$HOME/.config/hypr/bin/waybar-wf-recorder.sh status",
        "interval": "once",
        "signal": 1,
        "return-type": "json",
        "tooltip": true,
        "format": "{}",
        "on-click": "$HOME/.config/hypr/bin/waybar-wf-recorder.sh toggle fullscreen",
        "on-click-right": "$HOME/.config/hypr/bin/waybar-wf-recorder.sh toggle region"
    }
}
