{
  "layer": "top",
  "position": "top",
  "reload_style_on_change": true ,
  // "output": "eDP-1",
  "height": 36,
  "spacing": 8,
  "margin": "0 6px -10px",
  "modules-left": ["custom/wlogout", "hyprland/workspaces", "custom/jobs"],
  "modules-center": [
    "custom/dela",
    "custom/newsboat",
    "custom/pacman",
    "custom/docker",
    "custom/notification"
  ],
  "modules-right": ["mpris", "custom/timer", "custom/pipewire", "tray"],
  "hyprland/workspaces": {
    "format": "{name}",
    "format-icons": {
      "active": "",
      "default": "",
      "persistent": ""
    },
    "on-scroll-up": "hyprctl dispatch workspace r-1",
    "on-scroll-down": "hyprctl dispatch workspace r+1",
    "all-outputs": false,
    "show-special": true,
    "persistent-workspaces": {
      "*": 10
    }
  },

  "tray": {
    "icon-size": 16,
    "spacing": 8
  },

  "custom/dela": {
    "format": "  {}",
    "exec": "dela list --today --format='$title' '/home/anton/Dev/@A/notes/*.md' | wc -l",
    //"on-click": "hyprctl dispatch -- exec kitty",
    "on-click": "hyprctl dispatch -- exec kitty --hold --directory ~/Dev/@A/notes zsh -c 'nvim'",
    "interval": 300,
    "on-click": ""
  },

  "custom/newsboat": {
    "format": "󰑬  {}",
    "exec-if": "whereis newsboat",
    "exec": "~/.config/waybar/bin/newsboat-stats.sh",
    "on-click": "kitty --class float --hold zsh -c 'sleep 1; newsboat'",
    "interval": 180
  },

  "custom/deadbeef": {
    "format": "󰝚  {}",
    "exec-if": "pgrep -f /usr/bin/deadbeef",
    "exec": "deadbeef --nowplaying '%a - %t'",
    "on-click": "deadbeef --toggle-pause",
    "interval": 3
  },

  "mpris": {
      "format": "{player_icon} {dynamic}",
      "format-paused": "{status_icon} <i>{dynamic}</i>",
      "dynamic-order": ["position", "length", "artist", "title"],
      "player-icons": {
          "default": " ",
          "deadbeef": "󰝚 ",
          "chromium": "󰊯 "
      },
      "status-icons": {
          "paused": " "
      },
      // "ignored-players": ["firefox"]
      "max-length": 1000,
      "interval": 1
  },

  // paru -S waybar-module-pacman-updates-git
  "custom/pacman": {
    "format": "󰣇 {}",
    "return-type": "json",
    "exec-if": "which waybar-module-pacman-updates",
    "exec": "waybar-module-pacman-updates",
  },

  "custom/docker": {
    // "exec": "count=$(docker ps -q | wc -l); [[ $count -gt 0 ]] && echo $count",
    "exec": "~/.config/waybar/bin/docker.sh",
    "exec-if": "pgrep docker",
    "return-type": "json",
    "format": "󰡨  {}",
    "interval": 60,
    "max-length": 5
  },

  "custom/notification": {
    "tooltip": false,
    "format": "{icon} {}",
    "format-icons": {
        "notification": " ",
        "none": " ",
        "dnd-notification": " ",
        "dnd-none": " ",

        "inhibited-notification": "",
        "inhibited-none": "",
        "dnd-inhibited-notification": "",
        "dnd-inhibited-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },

  "custom/timer": {
    "exec": "uairctl fetch '<b>{name}</b>:{time}'",
    "tooltip": false,
    "format": "  {}",
    "on-click": "uairctl toggle",
    "on-click-right": "uairctl next",
    "on-click-middle": "uairctl prev",
    "interval": 1,
  },

  "custom/timer-stats": {
    "exec": "~/.config/waybar/bin/uair-stats.sh",
    "tooltip": false,
    "format": "{}",
    "interval": 60,
  },

  "custom/wlogout": {
      "format": "⏻",
      "on-click": "wlogout",
      "tooltip": false
  },

  "custom/pipewire": {
    "exec": "wpctl inspect @DEFAULT_AUDIO_SINK@ | awk '/alsa.card_name|media.name/ { print }' | cut -d '\"' -f2",
    "tooltip": false,
    "format": "󰓃 {}",
    "interval": 5,
  },

  "custom/jobs": {
    "exec": "~/.bin/job-status",
    "tooltip": false,
    "format": "{}",
    "interval": 1,
  }
}

