{
  "layer": "top",
  "position": "top",
  "height": 28,
  "spacing": 8,
  "margin": "0 6px",
  "modules-left": ["hyprland/workspaces"],
  "modules-center": [
    "custom/dela",
    "custom/pacman",
    "custom/docker",
    "custom/notification"
  ],
  "modules-right": ["custom/timer", "custom/timer-stats", "tray"],
  "hyprland/workspaces": {
    "format": "{name}",
    "format-icons": {
      "active": "",
      "default": "",
      "persistent": ""
    },
    "on-scroll-up": "hyprctl dispatch workspace r-1",
    "on-scroll-down": "hyprctl dispatch workspace r+1",
    "all-outputs": false,
    "persistent_workspaces": {
      "*": 10
    }
  },

  "tray": {
    "icon-size": 16,
    "spacing": 8
  },

  "custom/dela": {
    "format": "  {}",
    "exec": "dela list --today --format='$title' '/home/anton/Dev/@A/notes/*.md' | wc -l",
    //"on-click": "hyprctl dispatch -- exec kitty",
    //"on-click": "hyprctl dispatch -- exec kitty --hold --directory ~/Dev/@A/notes zsh -c 'nvim'",
    "interval": 60,
    "on-click": ""
  },

  // paru -S waybar-module-pacman-updates-git
  "custom/pacman": {
    "format": "󰣇 {}",
    "return-type": "json",
    "exec-if": "which waybar-module-pacman-updates",
    "exec": "waybar-module-pacman-updates"
  },

  "custom/docker": {
    "exec": "count=$(docker ps -q | wc -l); [[ $count -gt 0 ]] && echo $count",
    "exec-if": "pgrep docker",
    "format": "󰡨  {}",
    "interval": 60,
    "max-length": 5
  },

  "custom/timer": {
    "exec": "uairctl fetch '{name}:{time}'",
    "tooltip": false,
    "format": "  {}",
    "on-click": "uairctl toggle",
    "on-click-right": "uairctl next",
    "on-click-middle": "uairctl prev",
    "interval": 1,
  },

  "custom/timer-stats": {
    "exec": "~/.config/waybar/bin/uair-stats.sh",
    "tooltip": false,
    "format": "{}",
    "interval": 60,
  }
}

