@import "theme.css";

* {
  font-family:
    Iosevka Nerd Font,
    sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(255, 255, 255, 0);
  margin: 2px 20px;
}

tooltip {
  border-radius: 1px;
  border: 1px solid @component-border;
  background-color: @tooltip-background;
  color: @component-text;
  font-size: 16px;
}

#workspaces,
box.horizontal.modules-center,
#tray,
#bluetooth,
#custom-timer,
#custom-timer-stats,
#custom-deadbeef,
#mpris,
#custom-wlogout,
#custom-jobs,
#custom-zapusk,
#custom-pipewire {
  margin: 4px 0px;
  background-color: @component-background;
  border-radius: 3px;
  border: 0px solid @component-border;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

box.horizontal.modules-center,
box.horizontal.modules-right,
#custom-timer,
#custom-timer-stats,
#custom-deadbeef,
#custom-jobs,
#custom-zapusk,
#custom-pipewire,
#mpris,
#bluetooth,
#tray {
  color: @component-text;
  padding: 0 10px;
}

#tray {
  background: @tray-background;
  color: @tray-text;
  border-radius: 3px;
  border: 0px solid @tray-border;
}

box.horizontal.modules-right {
  padding-right: 0;
}

.modules-right {
  margin-right: 6px;
}

.modules-left {
  margin-left: 6px;
}

#custom-wlogout {
  color: #af5f5f;
  padding: 0 14px 0 10px;
  font-weight: bold;
}

#workspaces button {
  background-color: transparent;
  color: @component-text;
  border-radius: 0;
  padding: 0 4px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: @component-active-background;
  color: @component-text;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #ffa042;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button:first-child {
  border-radius: 2px 0 0 2px;
}

#workspaces button:last-child {
  border-radius: 0 2px 2px 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#language,
#network,
#pulseaudio,
#wireplumber,
#custom-root-free-space,
#home-free-space {
  padding: 0 4px;
  color: @component-text;
}

#custom-dela,
#custom-pacman,
#custom-docker,
#custom-notification {
  padding: 0 2px;
}

/* #battery.charging, */
/* #battery.plugged { */
/*   padding: 0 8px; */
/*   color: #2e3340; */
/*   background-color: #8fa77d; */
/* } */

/* #battery.critical:not(.charging) { */
/*   background-color: #af5f5f; */
/*   color: #d8dee8; */
/*   animation-name: blink; */
/*   animation-duration: 0.5s; */
/*   animation-timing-function: linear; */
/*   animation-iteration-count: infinite; */
/*   animation-direction: alternate; */
/* } */

/* @keyframes blink { */
/*   to { */
/*     background-color: #d8dee8; */
/*     color: #2e3340; */
/*   } */
/* } */
