{
  "layer": "top",
  "position": "top",
  "reload_style_on_change": true ,
  "output": "!DP-1",
  "height": 36,
  "spacing": 8,
  "margin": "0 6px -10px",
  "modules-left": [
    "custom/wlogout",
    "hyprland/workspaces",
    "custom/zapusk",
    "hyprland/submap"
  ],
  "modules-center": [
    "custom/hyprshade",
    "inhibitor",
     "custom/dela",
    "custom/newsboat",
    "custom/pacman",
    "custom/docker",
    "custom/notification"
  ],
  "modules-right": [
    "mpris", 
    "custom/timer", 
    "custom/pipewire", 
    "tray"
  ],
  "hyprland/workspaces": {
    "format": "{name}",
    "format-icons": {
      "active": "",
      "default": "",
      "persistent": ""
    },
    "on-scroll-up": "hyprctl dispatch workspace r-1",
    "on-scroll-down": "hyprctl dispatch workspace r+1",
    "all-outputs": true,
    "show-special": true,
  },
  "hyprland/submap": {
    "format": "  {}",
  },

  "tray": {
    "icon-size": 16,
    "spacing": 8
  },

  "inhibitor": {
    "what": "idle",
    "format": "{icon}",
    "format-icons": {
      "activated": "<span foreground='#ff4242'></span>  <span foreground='#999'>|</span>",
      "deactivated": "<span foreground='#999'>  |</span>"
    }
  },

  "custom/hyprshade": {
    "format": "{} ",
    "exec": "~/.config/waybar/bin/hyprshade",
    "tooltip-format": "Toggle blue light filter",
    "interval": "once",
    "signal": 2,
    "on-click": "hyprshade on vibrance; pkill -RTMIN+2 -x waybar",
    "on-click-right": "hyprshade on blue-light-filter; pkill -RTMIN+2 -x waybar"
  },

  "custom/dela": {
    "format": "  {}",
    "exec": "dela list --today --format='$title' '/home/anton/Dev/@A/notes/*.md' | wc -l",
    "on-click": "dela_create_cache && dela_open",
    "interval": 300,
  },

  "custom/newsboat": {
    "format": "󰑬  {}",
    "exec-if": "whereis newsboat",
    "exec": "~/.config/waybar/bin/newsboat-stats.sh",
    "on-click": "kitty --class float --hold zsh -c 'sleep 1; newsboat'",
    "interval": 180
  },

  "mpris": {
      "format": "{player_icon} {dynamic}",
      "format-paused": "{status_icon} <i>{dynamic}</i>",
      "dynamic-order": ["position", "length", "artist", "title"],
      "player-icons": {
          "default": " ",
          "deadbeef": "󰝚 ",
          "chromium": "󰊯 "
      },
      "status-icons": {
          "paused": " "
      },
      "max-length": 1000,
      "interval": 5
  },

  // paru -S waybar-module-pacman-updates-git
  // TODO: just use checkupdates ?
  "custom/pacman": {
    "format": "󰣇  {}",
    "return-type": "json",
    "exec-if": "which waybar-module-pacman-updates",
    "exec": "waybar-module-pacman-updates",
  },

  "custom/docker": {
    "exec": "~/.config/waybar/bin/docker.sh",
    "exec-if": "pgrep docker",
    "return-type": "json",
    "format": "󰡨  {}",
    "interval": 60,
    "max-length": 5
  },

  "custom/notification": {
    "tooltip": false,
    "format": "{icon}  {text}",
    "format-icons": {
      "notification": "<span foreground='#ff4242'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='#ff4242'><sup></sup></span>",
      "dnd-none": "",
      "inhibited-notification": "<span foreground='#ff4242'><sup></sup></span>",
      "inhibited-none": "",
      "dnd-inhibited-notification": "<span foreground='#ff4242'><sup></sup></span>",
      "dnd-inhibited-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },

  "custom/timer": {
    "exec": "uairctl fetch '<b>{name}</b>:{time}'",
    "tooltip": false,
    "format": "  {}",
    "on-click": "uairctl toggle",
    "on-click-right": "uairctl next",
    "on-click-middle": "uairctl prev",
    "interval": 1,
  },

  "custom/timer-stats": {
    "exec": "~/.config/waybar/bin/uair-stats.sh",
    "tooltip": false,
    "format": "{}",
    "interval": 60,
  },

  "custom/wlogout": {
      "format": "⏻",
      "on-click": "wlogout",
      "tooltip": false
  },

  "custom/pipewire": {
    "exec": "wpctl inspect @DEFAULT_AUDIO_SINK@ | awk '/alsa.card_name|media.name|node.description/ { print }' | cut -d '\"' -f2",
    "tooltip": false,
    "format": "󰓃 {}",
    "interval": 5,
  },
  "custom/zapusk": {
    "exec": "zapusk waybar",
    "on-click": "zapusk config_jobs --no-colors | jq -r \".[].id\" | wofi --dmenu | xargs -I{} zapusk run {}",
    "tooltip": true,
    "return-type": "json",
    "format": "{}",
    "interval": 1,
  },
  "bluetooth": {
    "format": " {status}",
    "format-connected": " {device_alias}",
    "format-connected-battery": " {device_alias} {device_battery_percentage}%",
    // "format-device-preference": [ "device1", "device2" ], // preference list deciding the displayed device
    "tooltip-format": "{controller_alias}\t{controller_address}\n\n{num_connections} connected",
    "tooltip-format-connected": "{controller_alias}\t{controller_address}\n\n{num_connections} connected\n\n{device_enumerate}",
    "tooltip-format-enumerate-connected": "{device_alias}\t{device_address}",
    "tooltip-format-enumerate-connected-battery": "{device_alias}\t{device_address}\t{device_battery_percentage}%"
  }
}

