# ZSH
alias zshconfig="s ~/.zshrc"
alias ohmyzsh="s ~/.oh-my-zsh"

# Editors
alias s='sublime'
alias a='atom'

# Shell
alias la="ls -halk"
alias ..='cd ..;' # can then do .. .. .. to move up multiple directories.
alias ...='.. ..'
alias md='mkdir -p'
alias df='df -h'
alias ping='ping -c4'
alias grep='ack'

# Git
alias gsl="git log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph"

# Misc
alias whois="whois -h whois-servers.net"
alias localip="ipconfig getifaddr en0"
