# ZSH
alias zshconfig="s ~/.zshrc"
alias ohmyzsh="s ~/.oh-my-zsh"

# Editors
alias s='sublime'
alias a='atom'

# Shell
alias la="ls -halk"
alias ..='cd ..;' # can then do .. .. .. to move up multiple directories.
alias ...='.. ..'
alias md='mkdir -p'
alias df='df -h'
alias ping='ping -c4'
alias grep='ack'

# Git
alias gsl="git log --format='%Cgreen%h%Creset %C(cyan)%an%Creset - %s' --graph"
alias gcl="git clone"
alias ghcl="github_clone"
alias gtodo="git grep --color=always --no-index --exclude-standard --heading --break --ignore-case -e ' FIX: *' -e ' TODO: *' | sed -e 's/^[[:space:]]*//'"

# Misc
alias serve="python -m SimpleHTTPServer"
alias whois="whois -h whois-servers.net"
alias localip="ipconfig getifaddr en0"

# search-me
alias google="search-me google"
alias ddg="search-me ddg"
alias caniuse="search-me caniuse"
alias mdn="search-me mdn"
alias stackoverflow="search-me so"
alias jquery="search-me jquery"

# Tab Colors
alias tabc_green="tabcolor #468966"
alias tabc_khaki="tabcolor #FFF0A5"
alias tabc_orange="tabcolor #FFB03B"
alias tabc_pink="tabcolor #B64926"
alias tabc_red="tabcolor #8E2800"

# Vim
alias gtd="vim ~/.dotfiles/.gtd"
alias vimrc="vim ~/.vimrc"
