export EDITOR=vim
export GITHUB_ACCESS_TOKEN=`cat ~/.config/.gh-token`

# Setup locales
#
# If you'll got locale related error by `perl -e exit`, you should generate
# it by code below:
#
# ```shell
# sudo locale-gen
# sudo dpkg-reconfigure locales
# ```
#
export LANGUAGE=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LC_TYPE=en_US.UTF-8
export BROWSER=chromium

# Goodies
CDPATH=~/Projects


# Path
export PATH=/usr/sbin:$PATH
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$DOTFILES/bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH
export PATH=$HOME/.config/yarn/global/node_modules/.bin:$PATH

# Node
export NODE_ENV=development
export PATH=./node_modules/.bin:$PATH

# Go
export GOPATH=$HOME/.go
export PATH=$GOPATH/bin:$PATH

# Ruby
export PATH=$HOME/.rbenv/bin:$PATH

# Ali
export PATH=~/.lzd/ak/pha-all/arcanist/bin:$PATH
