# Path
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$DOTFILES/bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH

# Node
export NODE_ENV=development

# Go
export GOPATH=$HOME

