export EDITOR=vim

# Path
export PATH=/usr/local/bin:$PATH
export PATH=/usr/local/sbin:$PATH
export PATH=$DOTFILES/bin:$PATH
export PATH=/usr/local/share/npm/bin:$PATH

# Node
export NODE_ENV=development
export PATH=./node_modules/.bin:$PATH

# Go
export GOPATH=$HOME/.go
export PATH=$GOPATH/bin/:$PATH

# Ruby
export PATH=$HOME/.rbenv/bin:$PATH
