;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================


[colors]
color_base03 =#1c1c1c
color_base02 =#262626
color_base01 =#585858
color_base00 =#626262
color_base0  =#808080
color_base1  =#8a8a8a
color_base2  =#e4e4e4
color_base3  =#ffffd7
color_yellow =#af8700
color_orange =#d75f00
color_red    =#d70000
color_magenta=#af005f
color_violet =#5f5faf
color_blue   =#0087ff
color_cyan   =#00afaf
color_green  =#5f8700


;background = ${xrdb:color0:#222}
background = ${colors.color_base02}
background-alt = ${colors.color_base03}
;foreground = ${xrdb:color7:#222}
foreground = ${colors.color_base1}
foreground-alt = ${colors.color_base2}
primary = ${colors.color_base2}
secondary = ${colors.color_base1}
alert = ${colors.color_red}

[bar/example]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 32
;offset-x = 1%
;offset-y = 1%
radius = 6.0
fixed-center = false
bottom = true

background = #AA272727
foreground = ${colors.color_base1}

line-size = 3
line-color = ${colors.color_base2}

border-size = 4
border-color = #00000000

padding-left = 0
padding-right = 2

module-margin-left = 1
module-margin-right = 2

font-0 = firamono:pixelsize=10;2
font-1 = fontawesome:pixelsize=10;2

;font-0 = fixed:pixelsize=10;1
;font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
;font-2 = siji:pixelsize=10;1

modules-left = menu0 i3
modules-center = xwindow
;modules-right = filesystem xbacklight volume xkeyboard memory cpu battery temperature date powermenu
modules-right = xbacklight network filesystem memory cpu xkeyboard battery date

tray-position = right
tray-padding = 2
; tray-transparent = true
; tray-background = #0063ff

; wm-restack = i3
; scroll-up = i3wm-wsnext
; scroll-down = i3wm-wsprev

; cursor-click = pointer
; cursor-scroll = ns-resize
;

; TODO: !!!
[module/wifi]
type = custom/script
interval = 60
exec = "iw dev wlp2s0 link | grep SSID | awk '{ print toupper($2) }'"
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-connected-underline = #9f78e1

[module/xwindow]
type = internal/xwindow
label = %title:0:50:...%

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25
mount-0 = /

label-mounted =  %percentage_used%%
label-mounted-underline = ${colors.color_blue}
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}

[module/bspwm]
type = internal/bspwm

label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

label-occupied = %index%
label-occupied-padding = 2

label-urgent = %index%!
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

label-empty = %index%
label-empty-foreground = ${colors.foreground-alt}
label-empty-padding = 2

; Separator in between workspaces
; label-separator = |

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${module/bspwm.label-focused-background}
label-focused-underline = ${module/bspwm.label-focused-underline}
label-focused-padding = ${module/bspwm.label-focused-padding}

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = ${module/bspwm.label-occupied-padding}

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${module/bspwm.label-urgent-background}
label-urgent-padding = ${module/bspwm.label-urgent-padding}

; Separator in between workspaces
; label-separator = |


[module/mpd]
type = internal/mpd
format-online = <label-song>  <icon-prev> <icon-stop> <toggle> <icon-next>

icon-prev = 
icon-stop = 
icon-play = 
icon-pause = 
icon-next = 

label-song-maxlen = 25
label-song-ellipsis = true

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = 

bar-width = 5
bar-indicator = |
bar-indicator-foreground = #ff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = ${colors.color_orange}
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 2
format-prefix = ""
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.color_cyan}
label = %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.color_magenta}
label = %percentage_used%%

[module/network]

type = internal/network
interface = wlp2s0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %{T2} %{T1} %essid%

;format-disconnected =
format-disconnected = <label-disconnected>
format-disconnected-underline = ${colors.color_red}
label-disconnected = %{T2} 
label-disconnected-foreground = ${colors.foreground}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground}

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix = " "
format-prefix-foreground = ${colors.foreground-alt}
format-underline = 

label = %date% %time%

[module/volume]
type = internal/alsa
; Soundcard to be used
; Usually in the format hw:#
master-soundcard = default
speaker-soundcard = default
headphone-soundcard = default

; Name of the master mixer
; Default: Master
master-mixer = Master

; Optionally define speaker and headphone mixers
; Use the following command to list available mixer controls:
; $ amixer scontrols | sed -nr "s/.*'([[:alnum:]]+)'.*/\1/p"
; Default: none
speaker-mixer = Speaker
; Default: none
headphone-mixer = Headphone

; NOTE: This is required if headphone_mixer is defined
; Use the following command to list available device controls
; $ amixer controls | sed -r "/CARD/\!d; s/.*=([0-9]+).*name='([^']+)'.*/printf '%3.0f: %s\n' '\1' '\2'/e" | sort
; Default: none
headphone-id = 9

; Use volume mapping (similar to amixer -M and alsamixer), where the increase in volume is linear to the ear
; Default: false
mapped = true

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

format-charging = <animation-charging> <label-charging>
format-charging-underline = ${colors.color_green}

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-underline = ${colors.color_yellow}

format-full-prefix = ""
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 =
ramp-capacity-1 =
ramp-capacity-2 =
ramp-capacity-foreground = ${colors.foreground}

animation-charging-0 =
animation-charging-1 =
animation-charging-2 =
animation-charging-foreground = ${colors.foreground}
animation-charging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature%
label-warn = %temperature%
label-warn-foreground = ${colors.secondary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}

[module/menu0]

type = custom/menu
format = <label-toggle> <menu>
format-padding = 1

expand-right = true
format-spacing = 1
label-open =
label-open-foreground = ${colors.secondary}
label-close =
label-close-foreground = ${colors.secondary}
label-separator = | 
label-separator-foreground = ${colors.color_base00}

menu-0-0 = 
menu-0-0-exec = chromium &
menu-0-1 = 
menu-0-1-exec = xterm &
menu-0-2 = 
menu-0-2-exec = subl &

[settings]
screenchange-reload = true
;compositing-background = xor
compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
