;=====================================================
;
;   To learn more about how to configure Polybar
;   go to https://github.com/jaagr/polybar
;
;   The README contains alot of information
;
;=====================================================


[colors]
color_base03 =#1c1c1c
color_base02 =#262626
color_base01 =#585858
color_base00 =#626262
color_base0  =#808080
color_base1  =#8a8a8a
color_base2  =#e4e4e4
color_base3  =#ffffd7
color_yellow =#af8700
color_orange =#d75f00
color_red    =#d70000
color_magenta=#af005f
color_violet =#5f5faf
color_blue   =#0087ff
color_cyan   =#00afaf
color_green  =#5f8700

background = #0000
background-alt = #9999
background-urgent = #5F00

foreground = #EEEE
foreground-alt = #EEEE

primary = ${colors.color_base2}
secondary = ${colors.color_base1}
alert = ${colors.color_red}

[bar/tray]
font-0 = Iosevka Term:pixelsize=0:antialias=true:autohint=true
dpi = 192
label-mode-padding = 2
label-mode-background = #e60053
height = 50
padding = 3
background = #0000
modules-left = xwindow
module-margin-right = 2

tray-offset-x = -24
tray-position = right
tray-padding = 4
tray-maxsize = 28

[bar/workspaces]
font-0 = Iosevka Term:pixelsize=0:antialias=true:autohint=true
dpi-x = 192
dpi-y = 192
background = ${colors.background}
bottom = true
height = 50
padding = 3
module-margin-right = 2
modules-left = i3
modules-right = alsa cpu memory filesystem network github battery date xkeyboard

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

label-focused = F:%index%
label-focused-background = ${colors.background-alt}
label-focused-padding = 1

label-unfocused = %index%
label-unfocused-padding = 1
label-unfocused-background = ${colors.background}

label-visible = %index%

label-urgent = %index%
label-urgent-background = ${colors.background-urgent}

[module/xwindow]
type = internal/xwindow
label = %title:0:100:...%

[module/github]
type = internal/github
token = ${env:GITHUB_ACCESS_TOKEN}
empty-notifications = true
interval = 10
label =  %notifications%

[module/date]
type = internal/date
interval = 1
time = %H:%M
time-alt = %H:%M:%S
label = %time%

[module/filesystem]
type = internal/fs
interval = 60
mount-0 = /
label-mounted =  %percentage_used%%
label-unmounted = %mountpoint% not mounted

[module/memory]
type = internal/memory
interval = 2
label =  %percentage_used%%

[module/cpu]
type = internal/cpu
interval = 2
label = %percentage:2%%

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

format-full-prefix = ""
format-charging = <animation-charging> <label-charging>
format-discharging = <ramp-capacity> <label-discharging>

ramp-capacity-0 =
ramp-capacity-1 =
ramp-capacity-2 =

animation-charging-0 =
animation-charging-1 =
animation-charging-2 =
animation-charging-framerate = 750

[module/alsa]
type = internal/alsa
format-volume = <ramp-volume>
label-muted = ﱝ
ramp-volume-0 = 奔
ramp-volume-1 = 墳
ramp-volume-2 = 

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

format-prefix = " "
format-prefix-foreground = ${colors.foreground}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/network]
type = internal/network
interface = wlp0s20f3
format-connected = <label-connected>
format-connected-underline = #9f78e1
label-connected = %{T2}%{T1} %essid%
format-disconnected = <label-disconnected>
format-disconnected-underline = ${colors.color_red}
label-disconnected = %{T2}
label-disconnected-foreground = ${colors.foreground}






[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature%
label-warn = %temperature%
label-warn-foreground = ${colors.secondary}

ramp-0 = 
ramp-1 = 
ramp-2 = 
ramp-foreground = ${colors.foreground-alt}

[module/menu0]

type = custom/menu
format = <label-toggle> <menu>
format-padding = 1

expand-right = true
format-spacing = 1
label-open =
label-open-foreground = ${colors.secondary}
label-close =
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.color_base00}

menu-0-0 = 
menu-0-0-exec = pcmanfm &
menu-0-1 = 
menu-0-1-exec = chromium &
menu-0-2 = 
menu-0-2-exec = xterm &
menu-0-3 = 
menu-0-3-exec = subl &

[settings]
screenchange-reload = true
;compositing-background = xor
compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[global/wm]
margin-top = 5
margin-bottom = 5

; vim:ft=dosini
