---
- name: role python | manage pacman packages
  include_role:
    name: meta_pacman
  vars:
    pacman_packages: "{{ python_pacman_packages }}"

- name: install pip2 package {{ item }}
  shell: python2 -m pip install --user --upgrade {{ item }}
  register: pip2_installation_log
  with_items: "{{ pip2_packages }}"
  changed_when: "'Requirement already satisfied' not in pip2_installation_log.stdout"

- name: install pip3 package {{ item }}
  shell: pip3 install --user --upgrade {{ item }}
  register: pip3_installation_log
  with_items: "{{ pip3_packages }}"
  changed_when: 
    - "'Requirement already satisfied' not in pip3_installation_log.stdout"
    - "'Requirement already up-to-date' not in pip3_installation_log.stdout"
